
img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="left-align"] {
    float: left;
    margin-right: 10px;
}

img[alt*="landscape"] {
    display: block
    aspect-ratio: 16/9;
    object-fit: cover;
}

img[alt*="portrait"] {
    border-radius: 100%;
}